.btn:active {
    background-color: rgb(154, 209, 209);
}

.btn:focus {
    box-shadow: none !important;
}

.btn:hover {
    border: solid 2px rgb(154, 209, 209);
}

.mattress-img {
    height: 100%;
    width: auto;
}

.nav-font {
    font-family: fantasy
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    #template {
        display: block !important;
    }
