.mattress-img {
    height: 100%;
    width: auto;
}

.nav-font {
    font-family: fantasy
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    #template {
        display: block !important;
    }
